
/* 기본 여백 제거 1.직접제거 2.css/cdn 파일 */
*{  padding: 0; margin: 0; }
a{ color: black; text-decoration: none;} 
body{  background-color: #f5f6f7 ; }

#wrap{ width: 400px; margin: 0 auto; }

/* =============== 헤더 ============ */
#headerLogo{ text-align: center; margin: 50px 0px; }
#headerLogo img{ height: 50px; }

/* =============== 본문 ============ */
/* ------- 1. 입력상자 만들기 -------------  */
.inputBox{
    background-color: white;
    border: 1px solid #dedede;
    padding: 10px;
    display: flex; flex-wrap: nowrap; 
    align-items: center; /* 세로 정렬 */
}
.inputBox input , select{
    border: none; /* 테두리 제거 */
    background-color: white;
    height: 30px; width: 100%;
}
.inputBox span{
    color: #aeaeae;
}
*:focus{ outline: none; } /* 포커스 : 커서가 깜박거림 상태.. */
/* ------------------------------- */
h5{ margin: 20px 0px 5px 0px;  }

/* ------- 2. 배경을 이용한 아이콘 삽입하기 -------------  */
.inputIcon{
    width: 25px; height: 25px;
    background-image: url("https://static.nid.naver.com/images/ui/join/m_icon_pw_step.png");
    background-size: 120px 75px; /* 배경 가로 , 세로 사이즈 */
}
#pwIcon{
    background-position-x: 0px;
    background-position-y: 0px;
}
#pwConfirmIcon{
    background-position-x: -78px;
    background-position-y: 0px;
}
 /* 생년월일 */
#birthBox{   display: flex; justify-content: space-between; }

 /* 년 , 월 , 일 */
.birthY , .birthM , .birthD{ width: 100px;}

.titleAt{
    font-size: 10px; color: #aeaeae;
}
/*휴대전화 구역*/
#phoneBox{
    display: flex; 
    justify-content: space-between;
    margin: 10px 0px;
}
#phoneBox > input{
    background-color: #03C75A;
    border: none; color: white;
    font-weight: bold;
    width: 100px;
}
#phoneBox > div{ width: 250px; }
/*
    #phoneBox input : 자손
    #phoneBox > input : 자식
*/
#inputAuth , #inputAuth > input {
    background-color: #f5f6f7;
}
/* 가입하기 버튼 */
#signupBtn{
    background-color: #03C75A;
    border: none; color: white;
    width: 100%; height: 50px;
    font-size: 20px; font-weight: bold;
    margin: 30px 0px;
}
/* 푸터  */
#footerBox{ text-align: center; margin-bottom: 50px;}
#ftTop{ font-size: 8px; color: #aeaeae; }
#ftBottom img{ height: 10px; }
#ftBottom span{  font-size: 5px;}


