@charset "UTF-8";

.box{
	border: 1px solid blue; /*테두리*/
	width: 100px;			/*가로길이*/
}

/* 1. 가로배치할 요소들의 부모요소 flex */
.flex_box1{
	width: 250px;
	display: flex;			/* 하위 요소 배치방법 */
	background-color: pink;
	flex-wrap: nowrap;
}
/* 1. 가로배치할 요소들의 부모요소 flex */
.flex_box2{
	width: 250px;
	display: flex;			/* 하위 요소 배치방법 */
	background-color: pink;
	flex-wrap: wrap;
}
.flex_box3{
	width: 250px;
	display: flex;			/* 하위 요소 배치방법 */
	background-color: pink;
	flex-wrap: wrap-reverse;
}

/* 1. 가로배치할 요소들의 부모요소 flex */
.flex_box4{
	border: 1px solid red;	padding:5px;
	display: flex;			/* 하위 요소 배치방법 */
	flex-direction: row; 	/* 방향 : row 기본값 */
}
/* 2. 세로배치할 요소들의 부모요소에 flex */
.flex_box5{
	border: 1px solid red; 	padding: 5px;
	display: flex;
	flex-direction: column; /* 세로배치 */
}
/* 3. 가로배치 반대로 배치하는 요소들의 부모요소 */
.flex_box6{
	border: 1px solid red;	padding: 5px;
	display: flex;
	flex-direction: row-reverse;	
}
/* 3. 가로배치 반대로 배치하는 요소들의 부모요소 */
.flex_box7{
	border: 1px solid red;	padding: 5px;
	display: flex;
	flex-direction: column-reverse;	
}












