

textarea{
    width: 100%;
    height: 200px;
    resize: none; /* 사이즈 변경불가. */
    margin: 20px 0px;
}
button{
    width: 100%;
    background-color: #404042;
    color: white; border: none;
    padding: 10px 0px;
    margin-top: 50px;
}